# Created by https://www.toptal.com/developers/gitignore/api/netbeans,bower
# Edit at https://www.toptal.com/developers/gitignore?templates=netbeans,bower

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# End of https://www.toptal.com/developers/gitignore/api/netbeans,bower
